body {
    background-image: url("../img/bg.png");
    background-repeat: repeat;
}
.table>tbody>tr>td, .table>tbody>tr>th{
  vertical-align: middle;
}
.navbar{
  margin-bottom: 0;
}
#main-content .container {
  padding-top: 20px;
  background-color: white;
}
.header-panel {
  background-color: #004D40;
  height: 144px;
  position: relative;
  z-index: 3;
  color: white;
}
#web-logo img{
    height: 144px;
}
#web-wrapper{
    background-color: white;
}
#search-input{
  padding-left: 15px;
}
#openSidebar{
  position: absolute;
  top: 0;
  left: 0;
}
#openSidebar:hover{
    cursor: pointer;
}

.form-control.ng-invalid {
  background-image: linear-gradient(#f44336,#f44336),linear-gradient(#d2d2d2,#d2d2d2);
}

.multiSelect > button {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  position: relative;
  top: -5px;
  height: 18px;
}

/*.buttonClicked > button{
  border-bottom: 2px solid #00aa9a;;
}*/

.multiSelect .clearButton {
  right: 0px;
  top: 2px;
}

