body {
    background-image: url("../img/bg.png");
    background-repeat: repeat;
}
.box_scroll {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    /*position: fixed;*/
    overflow-y: scroll;
}

.box_scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: rgba(0,0,0, .15);
    width: 8px;
    height: 8px;
}

.box_scroll::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0,0,0, .4);
}
.search_input {
  padding-left: 15px;
}

.table>tbody>tr>td, .table>tbody>tr>th{
  vertical-align: middle;
}
.navbar{
  margin-bottom: 0;
}
#main-content .container {
  padding-top: 20px;
  background-color: white;
}
.header-panel {
  background-color: #004D40;
  height: 144px;
  position: relative;
  z-index: 3;
  color: white;
}
#web-logo img{
    height: 144px;
}
#web-wrapper{
    background-color: white;
}
#search-input{
  padding-left: 15px;
}
#openSidebar{
  position: absolute;
  top: 0;
  left: 0;
}
#openSidebar:hover{
    cursor: pointer;
}

.form-control.ng-invalid {
  background-image: linear-gradient(#f44336,#f44336),linear-gradient(#d2d2d2,#d2d2d2);
}

.multiSelect > button {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  position: relative;
  top: -5px;
  height: 18px;
}

/*.buttonClicked > button{
  border-bottom: 2px solid #00aa9a;;
}*/

.multiSelect .clearButton {
  right: 0px;
  top: 2px;
}
.editable-wrap .editable-controls>input, 
.editable-wrap .editable-controls>select, 
.editable-wrap .editable-controls>textarea {
  position: relative;
  top: 10px;
}

.thucdon{
  margin-bottom: 0;   
}
.thucdon li {
  padding: 7px 3px;
  border-bottom: 1px solid #ccc;
}