<!-- STRUCTURE -->
  <div class="header-panel shadow-z-2">
  <span class="pusher"><i id="openSidebar" class="mdi-action-view-headline"></i></span>
  <div class="container">
      <a href="#" id="web-logo" class="pull-left">
        <img class="img-responsive" src="./assets/img/logo.png">
      </a>
      <h1 style="margin-left: 20px" class="pull-left"> Solider Manager </h1>
  </div>
</div>

<!--
<sidebar button-class="#openSidebar">
  <sidebar-link icon="home" title="Home"></sidebar-link>
  <sidebar-link icon="layout block" title="Block"></sidebar-link>
  <sidebar-link icon="smile" title="Smile"></sidebar-link>
</sidebar>
-->
<!-- END STRUCTURE -->

<div ui-view></div>

